/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#map-canvas {
width:100%;
height:480px;
margin: 0; 
padding: 0;
}
#map-canvas-frame {
width: 98%;
height: 480px;
margin: 1%;
padding: 0px;
border: 2px solid #c0c0c0;
float:left;
}
.kob-header-main {
position:absolute;
top:0px;
}
div.map-list-content{
background:#FFF;
position: absolute;
width: 100%;
}
.map-list-info, .map-list-coordinates {
display:none;
}

.masthead-fixed .site-header {
    position: fixed;
    top: 0px;
}

.site::before {
    background:none !important;
    width:100% !important;
}
.site-title a, .site-title a:hover {
    color: #C0C0C0 !important;
}
