<!-- map list search main search form -->

<p>Use this page for specific searches and results with maps.

<hr />

<span class="mls-title">Enter name of lawyer or law firm:</span>
<form class="mls-search-form" method="get" action="/wpdev/">
<input class="mls-search-field" title="Search name:" name="s" type="search" value="" placeholder="Search by name…" />
<input class="btnSubmitForm" type="submit" value="Search" />
<input name="mls" type="hidden" value="law" />
</form>
<hr />


<span class="mls-title">Enter US or Canada Address, City, State or Zip:</span>
<form class="mls-search-form" method="get" action="/">
<input name="s" type="hidden" value=" " />
<input class="mls-search-field" title="Search zip:" name="zip" type="search" value="" placeholder="Search by zip …" />
&nbsp;Distance: <select name="dt">
<option value="5">5 miles</option>
<option value="10">10 miles</option>
<option value="15">15 miles</option>
<option value="20">20 miles</option>
<option selected="selected" value="30">30 miles</option>
<option value="50">50 miles</option>
</select>
<input class="btnSubmitForm" type="submit" value="Search" />
<input name="mls" type="hidden" value="geo" />
</form>
<hr />

<select id="country" name="country">
<option selected="selected" value="">Select a Country...</option>
<option value="AS">American Samoa</option>
<option value="AR">Argentina</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="BS">Bahamas</option>
<option value="BD">Bangladesh</option>
<option value="BO">Bolivia</option>
<option value="BR">Brazil</option>
<option value="BC">British Virgin Islands</option>
<option value="CA">Canada</option>
<option value="CO">Colombia</option>
<option value="CR">Costa Rica</option>
<option value="CZ">Czech Republic</option>
<option value="DO">Dominican Republic</option>
<option value="EC">Ecuador</option>
<option value="FR">France</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GU">Guam</option>
<option value="GT">Guatemala</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IR">Ireland</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="KZ">Kazakhstan</option>
<option value="LI">Liechtenstein</option>
<option value="MY">Malaysia</option>
<option value="MT">Malta</option>
<option value="MX">Mexico</option>
<option value="MA">Morocco</option>
<option value="NL">Netherlands (Holland, Europe)</option>
<option value="NI">Nicaragua</option>
<option value="NG">Nigeria</option>
<option value="PA">Panama</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="AS">Samoa American</option>
<option value="RS">Serbia</option>
<option value="SK">Slovakia</option>
<option value="ES">Spain</option>
<option value="CH">Switzerland</option>
<option value="TW">Taiwan</option>
<option value="TT">Trinidad &amp; Tobago</option>
<option value="TN">Tunisia</option>
<option value="UA">Ukraine</option>
<option value="GB">United Kingdom</option>
<option value="VA">Virgin Islands (USA)</option>
</select>

<input class="btnSubmitForm" type="submit" value="Search" />
<input name="mls" type="hidden" value="int" />
</form>
